/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/* Верхній блок */

.header {
	min-height: 71.1vh;
	display: flex;
	flex-direction: column;
	color: #FFFFFF;
	background-image:
		linear-gradient(0deg,
			rgba(44, 30, 110, 0.56),
			rgba(44, 30, 110, 0.56)),
		url("../images/photo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.header__body {
	width: 100%;
	min-height: 100px;
	background: #05022D;
	display: flex;
	/* position: fixed; */
	justify-content: center;
	align-items: center;
	z-index: 50;
}
a {
	color: #FFFFFF;
}
.header__nav {
	display: flex;
	margin: 0 auto;
	align-items: center;
	cursor: pointer;
}
.header__list {
	display: flex;
	column-gap: 1vw;
	font-family: 'Open Sans';
	font-size: 0.75rem;
	line-height: 1.5625rem;
	padding-top: 1vh;
}
.header__aboutus:hover,
.header__service:hover,
.header__products:hover,
.header__contacts:hover,
.header__whatsup:hover,
.header__insta:hover,
.header__fb:hover {
	-webkit-animation: pulsing 1s 1;
	animation: pulsing 1s 1;
}


@-webkit-keyframes pulsing {
	0% {
		-webkit-transform: scale(1.0, 1.0);
		transform: scale(1.0, 1.0);
	}

	50% {
		-webkit-transform: scale(1.5 1.5);
		transform: scale(1.5, 1.5);
	}

	100% {
		-webkit-transform: scale(1.0, 1.0);
		transform: scale(1.0, 1.0);
	}
}

@keyframes pulsing {
	0% {
		-webkit-transform: scale(1.0, 1.0);
		transform: scale(1.0, 1.0);
	}

	50% {
		-webkit-transform: scale(1.5 1.5);
		transform: scale(1.5, 1.5);
	}

	100% {
		-webkit-transform: scale(1.0, 1.0);
		transform: scale(1.0, 1.0);
	}
}
.header__logo {
	width: 77px;
	height: auto;
	margin-right: 15.9vw;
}
.header__phone {
	font-family: 'Open Sans';
	color: #FFFFFF;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.1875rem;
	margin-left: 2.5vw;
	margin-right: 1.1vw;
	padding-right: 1rem;
	padding-top: 1vh;
}
.header__number {
	display: flex;
	position: relative;
	align-content: center;
	text-align: center;
}
.header__phoneimg {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 50;
}
.header__socials {
	display: flex;
	column-gap: 1.25vw;
}
.header__socialimg {
	width: 24px;
	height: auto;
}
.header__text {
	min-height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	column-gap: 2.87vh;
	margin-left: 22vw;
}
h1 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 2.8125rem;
	line-height: 3.4375rem;
	padding-right: 10px;
}
h2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5625rem;
	line-height: 2.8125rem;
	padding-right: 10px;
}

/* форма */
.main__title {
	display: block;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 1.5625rem;
	line-height: 1.875rem;
	margin-top: 13vmin;
	text-align: center;
}
.main{
	max-height: fit-content;
	padding-bottom: 100px;
}
.main__formbox p{
	margin-bottom: 13vmin;
	margin-top: 27.5vmin;
}
.main__formbox{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__form{
	display: flex;
	flex-direction: column;
	width: 49vw;
	row-gap: 33px;
}
.main__form textarea{
	padding-top: 41px;
}
input, textarea{
	display: block;
	max-height: 100%;
	border-bottom: 4px solid #6C63FF;
	font-family: 'Open Sans';
	padding: 13px 0 13px 15px;
	padding-left: 15px;
	padding-bottom: 13px;
}
::placeholder{
	color: #000000;
}
.main__btn{
	display: block;
	background: linear-gradient(134.36deg, #95E1E1 29.95%, #B798E0 74.72%);
	border-radius: 50px;
	width: 300px;
	height: 50px;
	margin-top: 74px;
	align-self: center;
	align-items: center;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 0.875rem;
}
label{
	display: inline-block;
}
.file__input{
	border: none;
	display: inline-block;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
	font-family: 'Open Sans';
	font-weight: 800;
    border: 2px solid #ccc;
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
}
.main__failload{
	display: flex;
}
h4{
	padding-left: 15px;
}
/* футер - дно */
.footer__body{
	width: 100%;
	min-height: 125px;
	background: #6C63FF;
	display: flex;
	justify-content: center;
	z-index: 5;
	position: relative;
	}
.footer__nav{
	min-width: 87vmin;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.footer__logo {
	width: 77px;
	height: auto;
}
.footer__copyrights{
	position: absolute;
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-size: 0.7rem;
	right: center;
	bottom:	6px;
}
.footer__contacts{
	position: relative;
	min-height: 768px;
	justify-self: flex-start;
	background: linear-gradient(139.22deg, #DDCAF7 37.6%, #C2F4F4 81.1%);
}
.footer__contactbox{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.footer__contactbox p:first-child{
	margin: 0;
	padding-top: 13vmin;
	padding-bottom: 5.56vmin;
}
.footer__quest{
	margin: 0;
	padding-left: 25.5vw;
	padding-bottom: 30px;
}
.footer__quest p:first-child{
	text-align: left;
	padding: 0 0 7.22vmin 0;
}
.footer__bgimg img {
	position: absolute;
	right: 8.79%;
	bottom: 30px;
	height: auto;
}
.footer__list{
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	font-family: 'Open Sans';
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.5625rem;
}
.footer__list li{
	padding-left: 55px;
	background-size: 24px auto;
	justify-items: center;
}
.footer__list li:nth-child(1){
	background: url('../icons/list1.svg') top left no-repeat;
}
.footer__list li:nth-child(2){
	background: url('../icons/list2.svg') left no-repeat;
}
.footer__list li:nth-child(3){
	background: url('../icons/list3.svg') left no-repeat;
}
.footer__list li:nth-child(4){
	background: url('../icons/list4.svg') left no-repeat;
}
.footer__list li:nth-child(5){
	background: url('../icons/list5.svg') left no-repeat;
}
.footer__list li:nth-child(6){
	background: url('../icons/list6.svg') left no-repeat;
	background-size: contain;
}
.footer__item a{
	color: #000000;
}

/* Ширина 1440px */

@media (max-width:1469.98px) {
	.footer__bgimg img {
		right: 4%;
		width: 500px;
		height: auto;
	}
	.footer__quest{
		margin: 0;
		padding-left: 20vw;
	}
}
/* Ширина 1280px */

@media (max-width:1279.98px) {
	.header__text {
		margin-left: 18vw;
	}
	.wrapper {
		overflow:auto;
	}

    p.main__title {
		margin-bottom: 1vh;
		margin-top: 5vmin;
	}

	.footer__bgimg img {
		right: 10%;
		bottom: 30px;
		width: 400px;
		height: auto;
	}
}
/* ширина 770px */

@media (max-width:769.98px) {
	.header__socials {
		flex-direction: column;
		row-gap: 1.25vh;
	}

	.header__list {
		flex-direction: column;
	}

	.header__text {
		margin-left: 10vw;
	}

	h1 {
		font-size: 1.5rem;
		line-height: 3rem;
	}

	h2 {
		font-size: 1rem;
		line-height: 2rem;
	}
	.header__phone {
		font-size: 0.78rem;
	}
    p.main__title {
		font-size: 0.9rem;
		line-height: 1.2rem;
		margin-bottom: 1vh;
	}
	.footer__copyrights{
		right: none;
		left: 15px;
	}
	.footer__bgimg img{
		display: none;
	}
	.footer__contacts{
		min-height: fit-content;
	}
	.footer__quest{
		padding-left: 30px;
		align-self: center;
	}
}

/* ширина 460px */

@media (max-width: 459.98px) {
	.footer__copyrights{
		display: none;
	}
}

/* ширина 350px */

@media (max-width: 349.98px) {
	.header__phone {
		display: none;
		font-size: 0.6rem;
		padding: 0 0 20px 0;
	}

	.header__phoneimg {
		display: block;
		z-index: 50;

	}

	.header__number {
		flex-direction: column;
		min-width: 55px;
	}

	.header__logo {
		margin-right: 4vw;
	}

	.header__socials {
		padding-left: 10px;
		padding-right: 10px;
	}

	.header__list {
		padding-right: 10px;
	}
}

/* висота 720px */

@media (max-height:719.98px) {
	.header__text {
		padding-bottom: 20px;
	}
}

/* висота 550px */

@media (max-height:549.98px) {
	.header__text {
		justify-content: flex-end;
		padding-bottom: 20px;
	}
}